.navbar {
  height: 9vh;
  padding: 0 15px;
  /* align-content: center; */
}

.navWrapper {
  /* max-width: 1366px; */
  /* margin: auto; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navLeft span {
  font-weight: bold;
}

.navRight {
  /* max-width: fit-content; */
   /* filter: brightness(0) invert(1); */
  display: flex;
  align-items: center;
}

.navRight ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  list-style: none;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}
/* .navRight ul li img {
  align-self: center;
  text-align: center;
height: 35px;
width:  35px;

} */


@media (max-width: 768px) {
  .navWrapper {
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: flex-start; /* Align items to the start on small screens */
  }

  .navRight {
    margin-top: 1rem; /* Add space between navLeft and right sections */
  }

  .navRight ul {
    flex-direction: column; /* Stack li items vertically on small screens */
    align-items: flex-end; /* Align items to the end on small screens */
  }

  .navRight ul li {
    margin-right: 0; /* Remove margin between stacked li items */
    margin-bottom: 0.5rem; /* Add space between stacked li items */
  }
}